.contact-us {
  &__content {
    @include pageGrid;
  }

  &__info {
    margin: 0 0 16px;

    &-title {
      font-size: 14px;
      color: $c-blue;
      padding-top: 24px;
      padding-bottom: 4px;
  
      @include onTablet {
        padding-top: 0;
      }
    }

    &-link {
      font-size: 16px;
      line-height: 140%;
      text-decoration: none;
      color: $c-black;
    }
  }

  &__form {
    grid-column: 1 / -1;
    @include onTablet {
      grid-column: span 3;
    }

    @include onDesktop {
      grid-column: span 6;
    }
  }

  &__wrapper {
    grid-column: 1 / -1;
    
    @include onTablet {
      grid-column: span 3;
    }

    @include onDesktop {
      grid-column: span 6;
    }
  }

  &__field {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  
    background-color: #F8F8FA;
    width: 100%;
    border: 1px solid #F8F8FA;
    border-radius: 16px;
    margin-bottom: 16px;
    padding: 16px;
    color: $c-black;

    &--textarea {
      height: 148px;
      resize: none;
      margin-bottom: 48px;
    }

    &:hover {
      border: 1px solid #D5D7DE;
    }

    &:focus {
      border-color: $main-text-color;
      outline: none;
    }
  }
}
