.header {
  background-image: url(../images/image_main.jpg);
  background-size: cover;
  background-position: center;

  &__content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__waves {
    background-image: url(../images/sound-waves.png);
    height: 57px;
    width: 48px;
    margin-bottom: 16px;
    background-size: cover;

    @include onTablet {
      height: 76px;
      width: 64px;
      margin-bottom: 48px;
    }
  }

  &__title {
    margin: 0;
    font-style: italic;
    font-weight: 800;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: -1.5px;

    @include onTablet {
      font-size: 36px;
    }
    @include onDesktop {
      font-size: 56px;
    }
  }

  &__bottom {
    padding-bottom: 40px;

    @include onTablet {
      padding-bottom: 64px;
    }
  }

  &__call {
    position: relative;

    @include onDesktop {
      &::before {
        content: '+1 234 555-55-55';
        position: absolute;
        top: 50%;
        display: block;

        width: max-content;
        padding-right: 20px;
        
        font-size: 16px;
        line-height: 14px;
        color: $c-ivory;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-decoration: none;

        opacity: 0;
        pointer-events: none;
        transform: translate(-100%, -50%);
        transition: all 0.9s;
      }

      &:hover::before {
        opacity: 1;
        pointer-events: all;
        transition: all 0.3s;
      }
    }
  }
}
